$basic-blue: #9198e5;
$basic-red: #ff4444;
$basic-yellow: #f0ebde;

.header-container {
  box-shadow: black 0 10px 20px;
  margin-bottom: 20px;

  .header {
    .logo-container {
      background-color: black;
      text-align: center;
      position: relative;

      .img-container {
        max-width: 600px;
        margin: 0 auto;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .header-logo {
        height: 180px;
      }

      .social-container {
        position: absolute;
        top: 10px;
        right: 10px;

        .social-link img {
          height: 40px;
          width: 40px;

          &.inst {
            height: 30px;
            width: 29px;
            margin-bottom: 5px;
          }

          &:hover {
            /* Start the shake animation and make the animation last for 0.5 seconds */
            animation: shake 0.5s;

            /* When the animation is finished, start again */
            animation-iteration-count: infinite;
          }

          @keyframes shake {
            0% { transform: rotate(0deg); }
            80% { transform: rotate(0deg); }
            85% { transform: rotate(5deg); }
            95% { transform: rotate(-5deg); }
            100% { transform: rotate(0deg); }
          }
        }
      }
    }

    .navbar-container {
      display: flex;
      justify-content: space-between;
      background: linear-gradient(#000000, gray);
      padding: 40px 10px 10px 0;

      .navbar-text {
        padding-left: 30px;
        padding-top: 15px;
        cursor: default;

        span {
          font-size: 30px;
          font-weight: bold;
          color: $basic-yellow;
        }
      }

      .navbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
        margin-top: 15px;

        .navbar-item {
          min-width: 100px;
          max-height: 18px;
          padding: 8px 10px 6px 10px;
          background: black;
          border-radius: 10px;
          border: 2px solid transparent;
          color: #dddddd;
          font-size: 15px;
          text-align: center;
          cursor: pointer;
          transition: 1s;

          &:hover {
            background: #111111;
            box-shadow: #222222 0 5px 8px;
          }
          &:active, &:focus {
            background: #333333;
            color: #ffffff;
            outline: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .header-container {
    .header .navbar-container {
      flex-direction: column;
      padding: 40px 10px 10px 10px;

      .navbar-text {
        text-align: center;
      }

      .navbar {
        max-height: 170px;
      }

      .navbar-item {
        width: 100%;
      }
    }
  }
}
