<div class="header-container">
  <div class="header">
    <div class="logo-container">
      <div class="social-container">
        <a href="https://www.youtube.com/watch?v=b09LTW1EhyQ&ab_channel=WorstWishes" class="social-link">
          <img src="assets/images/youtube.png">
        </a>
        <a href="https://www.instagram.com/worst_wishes_official" class="social-link">
          <img src="assets/images/inst.png">
        </a>
      </div>
      <img src="assets/images/logo.png" class="header-logo" alt="Band Logo Wide" (click)="playAudio()">
    </div>

    <div class="navbar-container">
      <div class="navbar-text">
        <span>
          {{navbarText}}
        </span>
      </div>
      <div class="navbar">
        <div class="navbar-item"><b>Bio</b></div>
        <div class="navbar-item"><b>Discography</b></div>
        <div class="navbar-item"><b>Concerts</b></div>
        <div class="navbar-item"><b>Gallery</b></div>
      </div>
    </div>


  </div>
</div>
