$basic-red: #ff4444;
$basic-yellow: #f0ebde;

.main {
  z-index: 1;
  text-align: center;
  height: 600px;
  background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,85%) 25%);

  .title-container {
    cursor: pointer;
    width: 100%;

    .title {
      margin: 0 auto;
      width: 30%;
      padding: 10px 20px;
      color: black;
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      border: 1px solid gray;
      border-radius: 6px;
    }
  }

  a {
    text-decoration: none;
  }
}

@media only screen and (max-width: 768px) {
  :host ::ng-deep youtube-player {
    iframe {
      width: 90%;
    }
  }
}
